<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <p>El portal donde podr&aacut crear sus propios juegos!</p>
  </body>
  <footer class="main" id="f1">
    <a href="https://github.com/mgonzalezr/Quiz/">
      Fuentes del Proyecto</a>
  </footer>
</html>
