<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <p>El portal donde podr&aacutes crear sus propios juegos!</p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
<!--
  <footer class="main" id="f1">

   <footer>
    <a href="/creditos/creditos">
     Acerca de Quiz</a>
  </footer>
-->
</html>
